<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storebrand_storebrand_listing_data_source" xsi:type="string">TrainingShivendra\Storebrand\Model\ResourceModel\Storebrand\Collection</item>
            </argument>
        </arguments>
    </type>
        <virtualType name="TrainingShivendra\Storebrand\Model\ResourceModel\Storebrand\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">storebrandlist</argument>
            <argument name="resourceModel" xsi:type="string">TrainingShivendra\Storebrand\Model\ResourceModel\Storebrand</argument>
        </arguments>
    </virtualType>
    <virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
       <arguments>
          <argument name="baseTmpPath" xsi:type="string">logo/image</argument>
          <argument name="basePath" xsi:type="string">logo/image</argument>
          <argument name="allowedExtensions" xsi:type="array">
             <item name="jpg" xsi:type="string">jpg</item>
             <item name="jpeg" xsi:type="string">jpeg</item>
             <item name="gif" xsi:type="string">gif</item>
             <item name="png" xsi:type="string">png</item>
          </argument>
       </arguments>
    </virtualType>
    <type name="TrainingShivendra\Storebrand\Controller\Adminhtml\Storebrand\Uploader">
       <arguments>
          <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
       </arguments>
    </type>
</config>