<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="TrainingShivendra_Storebrand::view" title="Storebrand" module="TrainingShivendra_Storebrand" sortOrder="50" resource="TrainingShivendra_Storebrand::view"/>
        <add id="TrainingShivendra_Storebrand::menu" title="Storebrand Grid" module="TrainingShivendra_Storebrand" sortOrder="20" parent="TrainingShivendra_Storebrand::view" action="storebrand/storebrand/index" resource="TrainingShivendra_Storebrand::menu"/>
    </menu>
</config>

